@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@layer base {
	:root {
		--background: hsl(0 0% 100%);
		--foreground: hsl(222.2 84% 4.9%);
		--muted: hsl(210 40% 96.1%);
		--muted-foreground: hsl(215.4 16.3% 46.9%);
		--popover: hsl(0 0% 100%);
		--popover-foreground: hsl(222.2 84% 4.9%);
		--card: hsl(0 0% 100%);
		--card-foreground: hsl(222.2 84% 4.9%);
		--border: hsl(214.3 31.8% 91.4%);
		--input: hsl(214.3 31.8% 91.4%);
		--primary: hsl(222.2 47.4% 11.2%);
		--primary-foreground: hsl(210 40% 98%);
		--secondary: hsl(210 40% 96.1%);
		--secondary-foreground: hsl(222.2 47.4% 11.2%);
		--accent: hsl(210 40% 96.1%);
		--accent-foreground: hsl(222.2 47.4% 11.2%);
		--destructive: hsl(0 72.2% 50.6%);
		--destructive-foreground: hsl(210 40% 98%);
		--ring: hsl(222.2 84% 4.9%);
		--radius: 0.5rem;
		--sidebar-background: hsl(0 0% 98%);
		--sidebar-foreground: hsl(240 5.3% 26.1%);
		--sidebar-primary: hsl(240 5.9% 10%);
		--sidebar-primary-foreground: hsl(0 0% 98%);
		--sidebar-accent: hsl(240 4.8% 95.9%);
		--sidebar-accent-foreground: hsl(240 5.9% 10%);
		--sidebar-border: hsl(220 13% 91%);
		--sidebar-ring: hsl(217.2 91.2% 59.8%);
	}

	.dark {
		--background: hsl(222.2 84% 4.9%);
		--foreground: hsl(210 40% 98%);
		--muted: hsl(217.2 32.6% 17.5%);
		--muted-foreground: hsl(215 20.2% 65.1%);
		--popover: hsl(222.2 84% 4.9%);
		--popover-foreground: hsl(210 40% 98%);
		--card: hsl(222.2 84% 4.9%);
		--card-foreground: hsl(210 40% 98%);
		--border: hsl(217.2 32.6% 17.5%);
		--input: hsl(217.2 32.6% 17.5%);
		--primary: hsl(210 40% 98%);
		--primary-foreground: hsl(222.2 47.4% 11.2%);
		--secondary: hsl(217.2 32.6% 17.5%);
		--secondary-foreground: hsl(210 40% 98%);
		--accent: hsl(217.2 32.6% 17.5%);
		--accent-foreground: hsl(210 40% 98%);
		--destructive: hsl(0 62.8% 30.6%);
		--destructive-foreground: hsl(210 40% 98%);
		--ring: hsl(212.7 26.8% 83.9%);
		--sidebar-background: hsl(240 5.9% 10%);
		--sidebar-foreground: hsl(240 4.8% 95.9%);
		--sidebar-primary: hsl(224.3 76.3% 48%);
		--sidebar-primary-foreground: hsl(0 0% 100%);
		--sidebar-accent: hsl(240 3.7% 15.9%);
		--sidebar-accent-foreground: hsl(240 4.8% 95.9%);
		--sidebar-border: hsl(240 3.7% 15.9%);
		--sidebar-ring: hsl(217.2 91.2% 59.8%);
	}
	:root {
		--card: oklch(1 0 0);
		--card-foreground: oklch(0.145 0 0);
		--popover: oklch(1 0 0);
		--popover-foreground: oklch(0.145 0 0);
		--primary: oklch(0.205 0 0);
		--primary-foreground: oklch(0.985 0 0);
		--secondary: oklch(0.97 0 0);
		--secondary-foreground: oklch(0.205 0 0);
		--muted: oklch(0.97 0 0);
		--muted-foreground: oklch(0.556 0 0);
		--accent: oklch(0.97 0 0);
		--accent-foreground: oklch(0.205 0 0);
		--destructive: oklch(0.577 0.245 27.325);
		--destructive-foreground: oklch(0.577 0.245 27.325);
		--border: oklch(0.922 0 0);
		--input: oklch(0.922 0 0);
		--ring: oklch(0.87 0 0);
		--chart-1: oklch(0.646 0.222 41.116);
		--chart-2: oklch(0.6 0.118 184.704);
		--chart-3: oklch(0.398 0.07 227.392);
		--chart-4: oklch(0.828 0.189 84.429);
		--chart-5: oklch(0.769 0.188 70.08);
		--radius: 0.625rem;
		--sidebar: oklch(0.985 0 0);
		--sidebar-foreground: oklch(0.145 0 0);
		--sidebar-primary: oklch(0.205 0 0);
		--sidebar-primary-foreground: oklch(0.985 0 0);
		--sidebar-accent: oklch(0.97 0 0);
		--sidebar-accent-foreground: oklch(0.205 0 0);
		--sidebar-border: oklch(0.922 0 0);
		--sidebar-ring: oklch(0.87 0 0);
		--background: oklch(1 0 0);
		--foreground: oklch(0.145 0 0);
	}

	.dark {
		--background: oklch(0.145 0 0);
		--foreground: oklch(0.985 0 0);
		--card: oklch(0.145 0 0);
		--card-foreground: oklch(0.985 0 0);
		--popover: oklch(0.145 0 0);
		--popover-foreground: oklch(0.985 0 0);
		--primary: oklch(0.985 0 0);
		--primary-foreground: oklch(0.205 0 0);
		--secondary: oklch(0.269 0 0);
		--secondary-foreground: oklch(0.985 0 0);
		--muted: oklch(0.269 0 0);
		--muted-foreground: oklch(0.708 0 0);
		--accent: oklch(0.269 0 0);
		--accent-foreground: oklch(0.985 0 0);
		--destructive: oklch(0.396 0.141 25.723);
		--destructive-foreground: oklch(0.637 0.237 25.331);
		--border: oklch(0.269 0 0);
		--input: oklch(0.269 0 0);
		--ring: oklch(0.439 0 0);
		--chart-1: oklch(0.488 0.243 264.376);
		--chart-2: oklch(0.696 0.17 162.48);
		--chart-3: oklch(0.769 0.188 70.08);
		--chart-4: oklch(0.627 0.265 303.9);
		--chart-5: oklch(0.645 0.246 16.439);
		--sidebar: oklch(0.205 0 0);
		--sidebar-foreground: oklch(0.985 0 0);
		--sidebar-primary: oklch(0.488 0.243 264.376);
		--sidebar-primary-foreground: oklch(0.985 0 0);
		--sidebar-accent: oklch(0.269 0 0);
		--sidebar-accent-foreground: oklch(0.985 0 0);
		--sidebar-border: oklch(0.269 0 0);
		--sidebar-ring: oklch(0.439 0 0);
	}
}

@theme {
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground) / <alpha-value>;
	--color-sidebar-DEFAULT: var(--sidebar-background);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--radius-xl: calc(var(--radius) + 4px);
	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-caret-blink: caret-blink 1.25s ease-out infinite;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--bits-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--bits-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}
		20%,
		50% {
			opacity: 0;
		}
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground min-h-svh overscroll-none font-sans antialiased;
	}

	html.dark {
		scrollbar-color: hsl(215.4 16.3% 56.9% / 0.3);
	}

	html {
		scrollbar-color: hsl(215.4 16.3% 46.9% / 0.3);
	}

	::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5rem;
	}

	::-webkit-scrollbar-thumb {
		border-radius: calc(var(--radius) - 4px);
		background-color: hsl(var(--muted-foreground) / 0.3) !important;
	}

	::-webkit-scrollbar-track {
		--tw-bg-opacity: 1 !important;
		background-color: hsl(var(--muted) / var(--tw-bg-opacity)) !important;
	}
}
